@font-face {
    font-family: ActionMan;
    src: url("../fonts/Action_Man-webfont.woff");
}

body {
    font-family: ActionMan;
    user-select: none;
    background-color: lightslategray;
}

h1 {
    text-align: center;
    color: orange;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    flex-basis: 33%;
}

li a {
    color: orange;
    text-decoration: none;
}

/************************************************************
*****************************Jeu*****************************  
************************************************************/

#section_jeu {
    border: 1px solid black;
    border-radius: 10px;
    display: none;
    position: relative;
    background-image: url('../img/background.jpg');
    background-position-y: 500px;
    background-size: 100%;

}

#section_regle{
    background-color: rgb(123, 101, 143);
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    height: 500px;
    position: relative;
    width: 100%;
}
#section_regle p{
    text-align: center;
}

#section_regle a{
    border: 1px solid orange;
    border-radius: 50px;
    color: orange;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin: auto;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

#section_game_over{
    background-color: rgb(123, 101, 143);
    border: 1px solid black;
    border-radius: 10px;
    display: none;
    height: 500px;
    position: relative;
    width: 100%;
}

#section_game_over p{
    color: red;
    font-size: 42px;
    text-align: center;
}

#section_game_over a{
    border: 1px solid orange;
    border-radius: 50px;
    color: orange;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin: auto;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

#section_cv{
    display: none;
    justify-content: center;
}

#img_cv{
    position: absolute;
    width: 619px;
    height: 877px;
    background-image: url("../img/cv.jpg");
    background-size: cover;
}

#filtre_cv{
    display: none;
    background-color: black;
    height: 877px;
}

#filtre_cv p{
    border: 1px solid orange;
    border-radius: 50px;
    color: orange;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 400px;
    text-align: center;
    text-decoration: none;
    width: 100px;

}

/************************************************************
*****************************Contact*****************************  
************************************************************/

#section_contact {
    border: 1px solid black;
    border-radius: 10px;
    display: none;

    height: 500px;
    position: relative;
    width: 100%;
}

#section_contact p {
    display: block;
    font-size: 28px;
    text-align: center;
}

#section_contact a{
    color: black;
}